.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  padding-left: 0;
}

li {
  float: left;
}

p {
  color: white;
  padding: 0 20px;
}

.link {
  color: white;
  padding: 0 20px;
  text-decoration: none;
  font-weight: 700;
}
